services:
  - type: web
    name: smart-hiring-system
    runtime: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: MONGODB_URI
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: JWT_SECRET_KEY
        sync: false
      - key: JWT_ACCESS_TOKEN_EXPIRES
        value: 86400
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: 8000
